.story-list {
    vertical-align: top;
    height: 50px;
    margin-bottom: 3px;
    border-bottom: 1px lightgray solid;
    cursor: move;
    cursor: -webkit-grabbing;
}

.story-list-gray {
    vertical-align: top;
    height: 50px;
    margin-bottom: 3px;
    /*background-color: lightgrey;*/
    border-bottom: 1px lightgray solid;
    cursor: move;
    cursor: -webkit-grabbing;
}

.story-list > div, .story-list-gray > div {
    display: inline-table;
}

.story-num {
    margin-left: 5%;
    width: 10%;
}

.story-name {
    width: 40%;
}

.story-plan {
    width: 10%;
}

.story-project {
    width: 20%;
}

.story-operation {
    width: 10%;
}

.my-handle {
    font-size: 20px;
    cursor: move;
    cursor: -webkit-grabbing;
}

.ghost {
    opacity: .5;
    background: #C8EBFB;
}

.loading {

}